@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
	<div class="block block-category-navigation">
		<div class="title">
			<strong>@T("Categories")</strong>
		</div>
		<div class="listbox">
			<ul class="list">
				@foreach (var category in Model.Categories)
				{
					var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
					{
						CurrentCategoryId = Model.CurrentCategoryId,
						Category = category
					};
					@await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
				}
			</ul>
		</div>
	</div>

	<script type="text/javascript">

		var toggler = document.getElementsByClassName("caret");
		var i;

		for (i = 0; i < toggler.length; i++) {
			toggler[i].addEventListener("click", function () {
				this.parentElement.querySelector(".sublist").classList.toggle("active");
				this.classList.toggle("caret-down");
			});
		}

	</script>

}